@model eCommerce_Model.ProductMasterModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "ProductDetils";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>ProductDetils</h2>

<div class="container">
    <br />
    <br />

    <div class="row">
        <div class="col-md-3">
            <div>
                <img src="@Url.Content(@Model.ProductImage)" Height="300px" Width="250px" />
            </div>
            <br />
            @using (Html.BeginForm("AddToCart", "ProductMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ProductID)
                <div>
                    <button type="submit" class="btn btn-warning" onclick="addToCart()">Add to Cart</button>
                </div>
            }
        </div>
        <div class="col-md-8" style="padding-left: 50px">
            <div>
                <h1>
                    <label>@Html.DisplayFor(model => model.ProductName)</label>
                </h1>
            </div>
            <br />
            <div>
                <pre>@Html.DisplayFor(model => model.ProductDetails)</pre>
            </div>
            <div>
                <h3>
                    <label>@Html.DisplayFor(model => model.ProductPrice)</label>
                    <i class="fa fa-inr" style="font-size: 20px"></i>
                </h3>
            </div>
        </div>
    </div>
</div>

<script>
    function addToCart() {
        alert("Item added into Cart");
        }
</script>