@model ManuItemViewModel

@{
    ViewBag.Title = "Update Manu Item";
    var photoPath = "~/images/" + (Model.ExsistingPhoto);
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
}

<h3>Create Manu Item</h3>

<div class="card">
    @if (@ViewBag.Success != null)
    {
        <h4 class="alert alert-success">@ViewBag.Success</h4>
    }
    @if (@ViewBag.Error != null)
    {
        <h4 class="alert alert-danger">@ViewBag.Error</h4>
    }

    <div class="row">
        <div class="col-md-8">
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <input hidden asp-for="ManuItemID" />
                <input hidden asp-for="ExsistingPhoto" />
                <div class="card-body">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-3 col-form-label">Category Name</label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Enter Item Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Decription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-7">
                            <textarea type="text" asp-for="Decription" class="form-control" id="editor" placeholder="Enter Description"></textarea>
                            <span asp-validation-for="Decription" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Price" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-7">
                            <input type="number" asp-for="Price" class="form-control" placeholder="Enter Item Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Image" class="col-sm-3 col-form-label">Image</label>
                        <div class="col-sm-7">
                            <div class="custom-file">
                                <input type="file" asp-for="Image" id="customFile" class="form-control custom-file-input">
                                <label class="custom-file-label">Click Hear to Change the Photo...</label>
                            </div>
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CategoryID" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="ddlCategory" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.CategoryList,"CategoryID","CategoryName"))">
                                <option value="-1" disabled selected>-- Select Category --</option>
                            </select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="SubCategoryID" class="col-sm-3 col-form-label">SubCategory</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="ddlSubCategory" asp-for="SubCategoryID">
                                <option value="-1" disabled selected>-- Select Sub Category --</option>
                            </select>
                            <span asp-validation-for="SubCategoryID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="SpicynessID" class="col-sm-3 col-form-label">Spicyness</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="ddlCategory" asp-for="SpicynessID" asp-items="@(new SelectList(ViewBag.SpicynessList,"SpicynessID","SpicynessName"))">
                                <option value="-1" disabled selected>-- Select Spicyness --</option>
                            </select>
                            <span asp-validation-for="SpicynessID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7 row">
                            <div class="col-md-6">
                                <button type="submit" class="form-control btn btn-primary">Update</button>
                            </div>
                            <div class="col-md-6">
                                <a class="form-control btn btn-success" asp-area="Admin" asp-action="" asp-controller="ManuItem">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <img src="@photoPath" asp-append-version="true" style="height: 256px;width: 256px;" />
        </div>
    </div>
</div>

@section Scripts {

    @*Test Editor*@
    <script src="~/js/textEditor.js"></script>

    @*Cascading Dropdown*@
    <script type="text/javascript">
        $(document).ready(function () {
            //Select File Lable Name
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });

            //Get SubCategory Selected On Category
            //$("#ddlCategory").val(function () {
            //    subCategoryShow();
            //});

            //Get SubCategory Change On Category
            $("#ddlCategory").change(function () {
                subCategoryShow();
            });
        })

        function subCategoryShow() {
            $("#ddlSubCategory").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("SubCategoryDropDownList")',
                    dataType: 'JSON',
                    data: { categoryId: $("#ddlCategory").val() },
                    success: function (subCategory) {
                        debugger;
                        if (subCategory.length == 0) {
                            var message = "No Have any Sub Category";
                            $('#ddlSubCategory').append('<option value="-1" disabled selected>' + message + '</option>');
                        }
                        $.each(subCategory, function (index, item) {
                            var subCatName = item.subCategoryName;
                            var subCatId = item.subCategoryID;
                            $('#ddlSubCategory').append('<option value="' + subCatId + '">' + subCatName + '</option>');
                        })
                    },
                    error: function (err) {
                        $(".alert-danger") = err.val();
                    }
                })
        }
    </script>
}