@model IEnumerable<MyApp.Models.AddressModel>

@{
    ViewBag.Title = "AddressList";
}

<h2>AddressList</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<p>
    @Html.ActionLink("Create New", "AddRecord")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateAddress", new { id=item.AddressID }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
